h1{
    text-align: center;
    font-size: 500%;
}


body{
    background-color: darksalmon;
}

#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}
ul{
    font-size: 25;
    font-family: Luminari, fantasy;
    

}
.lidiv{
    
    border: solid lightgreen 5px;
    border-radius: 25px;
    
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}

ol{
    font-size: 25;
    font-family: Luminari, fantasy; 

}

h2{
    font-family: Luminari, fantasy;
}